<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InputMethodConnectionName</key>
	<string>local_kaomojipicker_connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).InputController</string>
	<key>InputMethodType</key>
	<string>palette</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>KPIconTemplate</string>
</dict>
</plist>
